<html>

<header>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</header>
	<h1> List of Tasks </h1>
<body>
<form action="/" method="post">
  <input type="text" name="message">
  <input type="submit">
</form>
</body>

</html>